
@{
    ViewData["Title"] = "Configuration";
}
    <h2 class="mt-4 offset-1">Configuracion</h2>
    <a href="/Users/UsersCRUD"><span class="btn btn-danger m-5">Usuarios</span></a>
    <a href="/Users/ChangePassword"><span class="btn btn-primary m-5">Cambiar contraseña</span></a>

