
@{
    ViewData["Title"] = "Configuration";
}
    <a href="/Users/UsersCRUD"><span class="btn btn-danger m-5">Usuarios</span></a>
    <a href="/Users/ChangePassword"><span class="btn btn-primary m-5">Cambiar contraseña</span></a>
<h2>Configuration</h2>
