@model AGCS.Models.Client
@{
    if (ViewBag.check != null)
    {
        <script>alert("@ViewBag.check")</script>
    }
    
}

<form class="col-md-3 offset-md-1 mt-5" method="post">

    <label for="Password">Contraseña actual</label>
    <input type="password" class="form-control" id="Password" name="original" required placeholder="Contraseña actual">


    <label for="newPassword">Nueva contraseña</label>
    <input type="password" class="form-control" id="newPassword" name="new1" required placeholder="Nueva Contraseña">

    <label for="newPasswordRepete">Repetir Nueva contraseña</label>
    <input type="password" class="form-control" id="newPasswordRepete" name="new2" required placeholder="Repetir Nueva Contraseña">

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

<!--Modal Update END-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="~/js/UsersCRUD.js"></script>