@model AGCS.Models.Client

@if(ViewBag.check == 3)
{
    <script>CreateModal("Contraseña","Se modifico la contraseña satisfactoriamente")</script>
}



    <form class="col-md-3 offset-md-1 mt-5" method="post">

        <label for="Password">Contraseña actual</label>
        <input type="password" class="form-control" id="Password" name="original" required placeholder="Contraseña actual">
        @if (ViewBag.check == 2)
        {
            <script>$("#Password").addClass("validation_error");</script>
            <div class="validation_msg" id="msgPass">La contraseña es incorrecta</div>
        }


        <label for="newPassword">Nueva contraseña</label>
        <input type="password" class="form-control" id="newPassword" name="new1" required placeholder="Nueva Contraseña">
        @if (ViewBag.check == 1)
        {
            <script>$("#newPassword").addClass("validation_error");</script>
            <div class="validation_msg" id="msgNPass1">Las contraseñas contraseñas no coinciden</div>
        }


        <label for="newPasswordRepete">Repetir Nueva contraseña</label>
        <input type="password" class="form-control" id="newPasswordRepete" name="new2" required placeholder="Repetir Nueva Contraseña">
        @if (ViewBag.check == 1)
        {
            <script>$("#newPasswordRepete").addClass("validation_error");</script>
            <div class="validation_msg " id="msgNPass2">Las contraseñas contraseñas no coinciden</div>
        }

        <button type="submit" class="btn btn-primary mt-3">Confirmar</button>
    </form>

